*{
  border: 0;
  margin: 0;
}

html { 
  height: 100%;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 0px){

  #landing-wrapper{
    width: 19em;
    height: 27em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  header{
    margin: 0 auto;
    width: 100%;
  }

  #title{
    color: white;
    font-family: dynalight;
    font-size: 7em;
    height: 1em;
    width: 2.6em;
    margin: 0 auto;
  }

  #subtitle{
    color: white;
    font-family: dynalight;
    font-size: 1.5em;
    margin-left: 3em;
  }

  #right-wrap{
    width: 100%;
    margin: 0 auto
  }

  #background{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    border-radius: .5em;
    border: white solid 1px;
    position: absolute;
    z-index: -1;
    top: 0em;
  }

  section{
    width: 19em;
    height: 49%;
    margin: 1em auto 0 auto;
  }

  h3{
    display: inline-block;
    font-family: dynalight;
    color: white;
    font-size: 1.5em;
  }

  #login{
    margin: 0 35.5% 0 3%;
  }

  #reg-form{
    width: 42%;
    display: inline-block;vertical-align: top;
  }

  #login-form{
    width: 42%;
    display: inline-block;vertical-align: top;
    margin: 0 10% 0 2.5%;
  }

  input{
    display: block;
    height: 1.5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: white solid 1px;
    color: white;
  }

  #login-btn, #reg-btn{
    position: absolute;
    width: 42%;
    bottom: 5%;
    font-family: 'PT Sans Narrow';
  }

  label{
    color: white;
    font-size: 76%;
    font-family: 'PT Sans Narrow';
  }

  #line{
    display: inline-block; vertical-align: top;
    width: 2px;
    height: 7.5em;
    border-right: dashed white .1em;
    position: absolute;
    top: 51%;
    left: 49.8%;
  }

  .submit{
    background-color: transparent;
    border: white solid .1em;
    color: white;
    font-size: 1em;
  }

  .submit:hover{
    background-color: white;
    color: black;
  }
}

@media screen and (min-width: 481px){

  #landing-wrapper{
    width: 29em;
  }

  header{
    margin: 0 auto;
    width: 19em;
  }

  section{
    width: 29em;
  }

  #login{
    margin: 0 41% 0 5%;
  }

  #reg-form{
    width: 39%;
  }

  #login-form{
    width: 39%;
    margin: 0 13% 0 4.6%;
  }

  #login-btn, #reg-btn{
    width: 39%;
  }

  #line{
    height: 8em;
    left: 50%;
  }
}

@media screen and (min-width: 1024px){
  #landing-wrapper{
    width: 100%;
    height: 100%;
  }

  header{
    width: 36em;
    margin: 0 0 0 0;
  }

  #title{
    font-size: 14em;
  }

  #subtitle{
    font-size: 3em;
    margin-left: 2.4em;
  }

  #right-wrap{
    height: 26em;
    width: 44em;
    position: absolute;
    bottom: 6%;
    right: 4%;
    transform: translateY(-6%) translateX(-4%);
  }

  #background{
    width: 102%;
    height: 99%;
    position: absolute;
    top: 2.5%;
    right: -1%;
  }

  section{
    width: 100%;
    height: 100%;
  }

  #login{
    margin: 0 36.5% 0 2.5%;
    font-size: 3em;
  }

  .register{
    font-size: 3em;
  }

  #reg-form{
    width: 44.8%;
    display: inline-block;vertical-align: top;
  }

  #login-form{
    width: 44.8%;
    margin: 0 2.7em 0 .7em;
  }

  #login-btn, #reg-btn{
    position: absolute;
    width: 45%;
    bottom: 0%;
  }

  input{
    height: 2em;
    margin: 0 0 2% 0;
  }

  label{
    padding: .5em 0 0 0;
    margin: .5em 0 0 0;
    font-size: 125%;
  }

  #line{
    width: 0;
    border: transparent;
  }
}

@media screen and (max-height: 450px){
  #landing-wrapper{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
}