<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel='stylesheet' type='text/css' href='{% static "flower/orderstyles.css" %}'>
        <link href='https://fonts.googleapis.com/css?family=Dynalight|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Florian | elegance. perfection. passion.</title>
    </head>
    <body>
        <div id='wrapper'>
            <header>
                <h1 id='title'>Florian<h1>
                <h6 id='subtitle'>elegance. perfection. passion.</h6>
            </header>
            <div id='right-wrap'>
                <div id='background'></div>
                <h2 id='flower-cart-title'>Flower Cart</h2>
                <section>
                    {% for i in flowers %}
                        <h3 class='flower_name'>{{i}}</h3>
                    {% endfor %}
                </section>
                <div id='form-wrapper'>
                    <form id='form-one' action='/checkout' method='post'>
                        {% csrf_token %}
                        <input type='submit' value='Checkout'>
                    </form>
                    <form action='/main?page=1' method='post'>
                        {% csrf_token %}
                        <input type='Submit' value='Back'>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>